.backDrop {
    position: fixed;
    top: 0 !important;
    left: 250px !important;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.733);
    transition: 0.3s all ease-in-out
}

.backdrop-close {
    left: 200% !important;
}